@page "/"
@using Core
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavMan

<PageTitle>Messages</PageTitle>

@if (_currentUser == null)
{
    <p>Authenticating...</p>
}
else
{
    <div class="main">
        
        <div class="usersDiv">

        </div>

        <div class="messagesDiv">

            <div class="inputDiv">
                
            </div>
        </div>

    </div>
}


@code{
    User? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await LocalStorage.GetItemAsync<User>("user");
        if (_currentUser == null)
            NavMan.NavigateTo("/login");
    }

}