.usersDiv{
    min-width: 285px;
    outline: black solid 1px;
    display: flex;
    flex-direction: column;
}

.convoBanner{
    height:75px;
    outline: black solid 1px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img{
        width: 50px;
        height: 50px;
        border-radius: 140px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.convoTimestamp{
    font-size: 14px; color: grey
}

#logoutLink{
    margin-right: 10px;
}

#myProfileLink{
    margin-right: 15px;
}

#seenPicture{
    width: 25px;
    height: 25px;
    border-radius: 140px;
    margin-left: auto;
    display: block;
    margin-top: 5px;
}

.userSearchDiv{
    position:relative;
    height:75px;
    outline: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
}

.messagesDiv{
    width:100%;
    outline: black solid 1px;
    display: flex;
    flex-direction: column;
}


.main{
    height:95vh;
    display:flex;
}


::deep .inputStyle{
        border-radius: 11px;
        border: none;
        background-color: #efefef;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.inputDiv{
    height:75px;
    outline: black solid 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 0;
}

::deep .inputMessage{
    border-radius: 11px;
    border: none;
    background-color: #efefef;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
}

.sendIcon{
    position: relative; 
    right: 28px; 
    top: 7px;
}
.sendIcon:hover{
    cursor: pointer;
}
.sendIcon:active{
    
}

.searchedPeoplesDropdown {
    display: block; /* or visibility: hidden or whatever your default should be */
    position: absolute;
    top: 67px;
    overflow: auto;
    width: 90%;
    height: 45vh;
    outline: black solid 1px;
    background-color: white;
}

.userCard{
    display: flex;
    align-items: center;
    border-radius: 140px;
    img{
        width: 50px;
        height: 50px;
        border-radius: 140px;
        margin-right: 10px;
    }
}
.userCard:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}

.messagesContainer{
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.userMessage {
    background-color: #de62ff;
    border-radius: 2em;
    max-width: 70%;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
}
.bufferDiv{
    margin-bottom: 30px;
    margin-right: 2px;
}
    
.receiverMessage{
    background-color: #d3d3d3;
    border-radius: 2em;
    max-width: 70%;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: 2px;
    padding: 10px;
}

.messageContent{
    
}

.messageTimestamp{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.conversationsDiv{
    height: 100%;
    overflow: auto;
}

.convoCard {
    padding: 5px;
    display: flex;
    
    img {
        width: 50px;
        height: 50px;
        border-radius: 140px;
        margin-right: 10px;
    }

    span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}

.convoCard:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}


.convoCardBuffer{
    display: flex;
    align-items: flex-start;
    min-width: 0;
    flex-direction: column;
    flex-wrap: wrap;
}