@page "/"
@using Core
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavMan

<PageTitle>Home</PageTitle>

@if (_currentUser == null)
{
    <p>Authenticating...</p>
}
else
{
        
}


@code{
    User? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await LocalStorage.GetItemAsync<User>("user");
        if (_currentUser == null)
            NavMan.NavigateTo("/login");
    }

}