@page "/Register"
@using Core
<PageTitle>Register</PageTitle>

@if (loaded)
{
    <EditForm EditContext="EditContext" OnSubmit="HandleSubmit" FormName="Register user" class="container">
        <div class="col-6">
            <label for="firstname">Firstname</label>
            <InputText id="firstname" @bind-Value="_model.FirstName"></InputText>
        </div>

        <div class="col-6">
            <label for="lastname">Lastname</label>
            <InputText id="lastname" @bind-Value="_model.LastName"></InputText>
        </div>

        <div class="col-6">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="_model.Email"></InputText>
        </div>

        <div class="col-6">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="_model.Password"></InputText>
        </div>

        <div class="col-6">
            <label for="confirmPass">Confirm password</label>
            <InputText id="confirmPass" @bind-Value="confirmPass"></InputText>
        </div>

        <div class="col-6">
            <label for="phone">Phone number</label>
            <InputText id="phone" @bind-Value="_model.PhoneNumber"></InputText>
        </div>

        <div class="col-6">
            <button type="submit">Register</button>
        </div>
        
    </EditForm>
}

@code {
    User _model;
    EditContext EditContext;

    string confirmPass;
    
    bool loaded;

    protected override void OnInitialized()
    {
        _model = new User();
        EditContext = new EditContext(_model);
        loaded = true;
    }


    private async void HandleSubmit()
    {
        
    }

}